<h2>Comments</h2>

<% @comments.each do |comment| %>
	<p>
		<%= comment.comment %><br />
		<% user = User.find(comment.user_id) %>
		<em><%= "by #{user.email} on #{user.created_at}" %></em>
	</p>

<% end %>