<h2>Comments</h2>

<% @comments.each do |comment| %>
	<p>
		<%= comment.comment %><br />
		User ID <%= comment.user_id %><br />
		<% test = User.find(comment.user_id) %>
		<%= test.email %>
	</p>
<% end %>