<div class="row comments">
	<div class="large-12 columns">
		<h4>Comments</h4>
		<p>This is just a fake test comment.
		<span>Eric Benoit</span>
		</p>

		<p>Let's play a game.
		<span>Angela Lam</span>
		</p>

		<% if user_signed_in? %>
          <p>Write a comment.</p>
          <input type="text">
        <% end %>
	</div>
</div>