<div class="row photos">
	<div class="large-12 columns">
		<img src="#" width="75" height="75" />
		<img src="#" width="75" height="75" />
		<img src="#" width="75" height="75" />
		<img src="#" width="75" height="75" />
		<img src="#" width="75" height="75" />
		<img src="#" width="75" height="75" />
	</div>
</div>